.categories-list {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px 10px 10px;
}

.categories-list a {
  text-decoration: none;
  color: #dfa612;
}

@media only screen and (max-width: 420px) {
  .categories-list a {
    font-size: 12px;
  }
}
